[mysqld]
pid-file        = {{ mysqld.pid_file_path }}
socket          = {{ mysqld.socket_path }}
datadir         = {{ mysqld.datadir_path }}
log-error       = {{ mysqld.log_error_path }}

[client]
socket={{ client.socket_path }}