import com.cloudbees.plugins.credentials.*
import com.cloudbees.plugins.credentials.domains.*
import com.google.jenkins.plugins.credentials.oauth.*
import jenkins.model.Jenkins

// === Check for existing credentials ===
def store = Jenkins.instance.getExtensionList('com.cloudbees.plugins.credentials.SystemCredentialsProvider')[0].getStore()
def credential = new GoogleRobotMetadataCredentials(
   CredentialsScope.GLOBAL,
  "{{ google_service_account_id }}",
  "{{ project }}",
  new GoogleRobotMetadataCredentialsModule()
)
 store.addCredentials(Domain.global(), credential)
