body {
    margin: 0;
    padding: 0;
}

body, h1, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.navbar {
    background-color: #222;
    padding: 1.6vh 1.2vw;
    box-shadow: 0vw 0.5vh 1vh rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.1vh;
    width: 100%;
}

.navbar-left{
    justify-content: left;
    display: inherit;
    align-items: inherit;
}

.navbar-center{
    position: relative;
    gap: inherit;
}

.navbar-right{
    padding: 0;
    margin: 0;
    justify-content: right;
    display: inherit;
    align-items: inherit;
    gap: inherit;
}

.navbar-logo {  
    width: 7.81vw;
    height: 2.20vh;
    display: block;
}

.navbar-title {
    color: #fff;
    font-size: 4vh;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-menu {
    display: flex;
    gap: 1.3vw;
}

.navbar-menu a {
    color: #fff;
    font-size: 2vh;
    transition: color 0.3s;
}

.navbar-menu a:hover {
    color: #00aaff;
}

.progress-bar-container{
    padding: 0;
    margin: 0;
}

.progress-bar {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.65vw;
}

.step {
    width: 1.8vw;
    height: 1.8vw;
    border-radius: 50%;
    background-color: #ccc;
    color: white;
    text-shadow: 0.01vw 0.01vw black;
    font-size: 1vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
}

.step.completed {
    transform: scale(1.2);
}

.step:not(:last-child)::after {
    content: "";
    width: 0.65vw;
    height: 0.5vh;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    z-index: -1;
}

.step.completed:not(:last-child)::after {
    background-color: inherit;
}

.moveup-animation {
    animation-name: moveup;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes moveup {
    0%   {transform: translateY(0);}
    100% {transform: translateY(-5vh);}
}

.movedown-animation{
    animation-name: movedown;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes movedown {
    0% {transform: translateY(-5vh);}
    100%   {transform: translateY(0);}
}

.disappear-animation{
    animation-name: disappear;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes disappear{
    0%{opacity: 1;}
    100%{opacity: 0;}
}

.appear-animation{
    animation-name: appear;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes appear{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
