body {
    margin: 0;
    padding: 0;
}

body, h1, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.navbar {
    background-color: #222;
    padding: 15px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.navbar-left{
    justify-content: left;
    display: inherit;
    align-items: inherit;
    gap: 10px;
}

.navbar-center{
    position: relative;
    gap: inherit;
    height: 30px;
    max-height: 30px;
}

.navbar-right{
    justify-content: right;
    display: inherit;
    align-items: inherit;
    gap: inherit;
}

.navbar-logo {
    height: auto;
    width: auto;
    display: block;
}

.navbar-title {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

.navbar-menu {
    display: flex;
    gap: 20px;
}

.navbar-menu li {
    display: inline;
}

.navbar-menu a {
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar-menu a:hover {
    color: #00aaff;
}

.progress-bar-container{
    padding: 0;
    margin: 0;
}

.progress-bar {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.step {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    color: white;
    text-shadow: 0.25px 0.25px black;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
}

.step.completed {
    background-color: #4caf50;
    transform: scale(1.2);
}

.step:not(:last-child)::after {
    content: "";
    width: 10px;
    height: 4px;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    z-index: -1;
}

.step.completed:not(:last-child)::after {
    background-color: inherit;
}

.moveup-animation {
    animation-name: moveup;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes moveup {
    0%   {transform: translateY(0px);}
    100% {transform: translateY(-40px);}
}

.movedown-animation{
    animation-name: movedown;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes movedown {
    0% {transform: translateY(-40px);}
    100%   {transform: translateY(0px);}
}

.disappear-animation{
    animation-name: disappear;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes disappear{
    0%{opacity: 1;}
    100%{opacity: 0;}
}

.appear-animation{
    animation-name: appear;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

@keyframes appear{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
